<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Детали группы</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/menubar.css}" rel="stylesheet">

</head>
<body>
<nav>
  <ul>
    <li><a th:href="@{/}">Temp</a></li>
    <li><a th:href="@{/}">Новости</a></li>
    <li><a th:href="@{/}">События</a></li>
    <li><a th:href="@{/searchuser}">Атлеты</a></li>
    <li><a th:href="@{/groups}">Группы</a></li>

    <!-- Показываем ссылку на профиль и выход, если пользователь в системе -->
    <li th:if="${username}">
      <a th:href="@{/dashboard}" th:text="'Profile (' + ${username} + ')'">Profile</a>
    </li>
    <li th:if="${username}"><a th:href="@{/logout}">Выйти</a></li>

    <!-- Показываем Вход и Регистрацию, если пользователь не в системе -->
    <li th:unless="${username}"><a th:href="@{/login}">Вход</a></li>

<!--    <li><button onclick="toggleDarkMode()">Dark Mode</button></li>-->
  </ul>
</nav>
<h1>Детали группы</h1>
<div>
  <h2 th:text="${group.name}">Название группы</h2>
  <h3>Владелец: <span th:text="${group.owner.name}">Имя владельца</span></h3>
</div>
</body>
</html>