<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список групп</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/menubar.css}" rel="stylesheet">

</head>
<body>
<nav>
  <ul>
    <li><a th:href="@{/}">Temp</a></li>
    <li><a th:href="@{/}">Новости</a></li>
    <li><a th:href="@{/}">События</a></li>
    <li><a th:href="@{/searchuser}">Атлеты</a></li>
    <li><a th:href="@{/groups}">Группы</a></li>

    <!-- Показываем ссылку на профиль и выход, если пользователь в системе -->
    <li th:if="${username}">
      <a th:href="@{/dashboard}" th:text="'Profile (' + ${username} + ')'">Profile</a>
    </li>
    <li th:if="${username}"><a th:href="@{/logout}">Выйти</a></li>

    <!-- Показываем Вход и Регистрацию, если пользователь не в системе -->
    <li th:unless="${username}"><a th:href="@{/login}">Вход</a></li>

<!--    <li><button onclick="toggleDarkMode()">Dark Mode</button></li>-->
  </ul>
</nav>

<h1>Группы</h1>
<div>
  <form th:action="@{/groups}" method="get">
    <input type="text" placeholder="Поиск групп" name="search" />
    <button type="submit">Поиск</button>
  </form>
</div>
<div>
  <a th:href="@{/groups/new}">Создать новую группу</a>
</div>
<div>
  <ul>
    <li th:each="group : ${groups}">
      <a th:href="@{'/groups/' + ${group.id}}" th:text="${group.name}">Название группы</a>
      — владелец: <span th:text="${group.owner.name}">Имя владельца</span>
    </li>
  </ul>
</div>
</body>
</html>