<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Посты пользователя</title>-->
<!--  <link rel="stylesheet" href="/css/style.css">-->
<!--</head>-->
<!--<body>-->
<!--<h1>Посты от <span th:text="${User.username}">Имя пользователя</span></h1>-->
<!--<div>-->
<!--  <form th:action="@{/users/{id}/posts(id=${})}" method="post">-->
<!--    <textarea name="content" placeholder="Напишите ваш пост..." rows="4" cols="50"></textarea><br><br>-->
<!--    <button type="submit">Создать пост</button>-->
<!--  </form>-->
<!--</div>-->
<!--<div>-->
<!--  <h2>Посты</h2>-->
<!--  <div th:each="post : ${posts}">-->
<!--    <div style="border: 1px solid #ccc; padding: 10px; margin: 10px 0;">-->
<!--      <p th:text="${post.content}">Содержимое поста</p>-->
<!--      <p>Опубликовано <span th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">Дата поста</span></p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->