<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Детали поста</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/menubar.css}" rel="stylesheet">
</head>
<body>
<nav>
  <ul>
    <li><a th:href="@{/}">Temp</a></li>
    <li><a th:href="@{/news}">Новости</a></li>
    <li><a th:href="@{/events}">События</a></li>
    <li><a th:href="@{/searchuser}">Атлеты</a></li>
    <li><a th:href="@{/groups}">Группы</a></li>
    <li th:if="${username}">
      <a th:href="@{/dashboard}" th:text="'Profile (' + ${username} + ')'">Profile</a>
    </li>
    <li th:if="${username}"><a th:href="@{/logout}">Выйти</a></li>
    <li th:unless="${username}"><a th:href="@{/login}">Вход</a></li>
  </ul>
</nav>

<h1>Детали поста</h1>

<div>
  <h3 th:text="${post.user.name}">Имя автора</h3>
  <p th:text="${post.content}">Содержимое поста</p>
  <p><small th:text="${#dates.format(post.createdAt, 'dd.MM.yyyy HH:mm')}">Дата создания</small></p>
</div>

</body>
</html>
